.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: #282c34;
    z-index: 1000;
    height: 3rem;
  }
  
  .link {
    color: #61dafb;
    text-decoration: none;
  }